html
	{
		background-color: #eef0f0;
	}

div {
	border-radius: 4px;
}

a li:hover {
	color: lightblue;
}

#topbanner {
	width: 100%;
	height: 130px;
	position: relative;
	top: 0;
	display: block;
	background-image: url("http://www.tmwallpaper.com/mod/abstract-color-lines/1920x1080/color-lines-abstract-wide-wallpaper-1920x1080-011.jpg");
	border: solid 2px black;
}

h2 {
	position: absolute;
	left: 5px;
	bottom: -35px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 35px;
	color: white;
}

#homebutton {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-right: 20px;
}

#arrow	{
	position: absolute;
	bottom: 10px;
	right: 80px;
}

#navbar {
	margin-top: 10px;
	width: 100%;
	height: 30px;
	background-image: url("http://free.wallpaperbackgrounds.com/abstract/blue/abstract-abstract-586.jpg");
	border: solid 2px black;
}

ul {
	position: relative;
	width: 100%;
	text-align: center;
	bottom: 12px;
}

li {
	display: inline-block;
	margin-left: 75px;
	margin-right: 75px;
	font-family: Tahoma;
	color: white;
	font-size: 19px;
}


#aboutme {
	position: relative;
	top: 50px;
	left: 30px;
	display: inline-block;
}

#profilepicture {
	border: 3px solid black;

}

#name {
	position: relative;
	display: inline-block;
	left: 50px;
	top: -110px;
	font-family: Arial;
	font-size: 50px;
	color: black;
}

#student {
	position: relative;
	display: block;
	left: 263px;
	top: -110px;
	font-family: Arial;
	font-size: 20px;
	color: gray;
	font-weight: bold;
}

#description {
	position: relative;
	display: inline-block;
	left: 263px;
	top: -110px;
	font-family: Arial;
	font-size: 15px;
	color: black;
	width: 650px;

}


#contactme {
	position: relative;
	text-align: center;
	width: ;
	height: 330px;
	top:-30px;
}

#contactme img {
	position: relative;
	top: 10px;
}

#contactme a {
	float: left;
	text-decoration: none;
}

#contactme a:hover {
	color: black;
}

#contactme h4 {
	float: right;
	position: relative;
	bottom: 3px;
	left: 3px;
	font-family: Arial;
	color: #f6546a;
}

#contactme p {
	position: relative;
	bottom: 43px;
	left: 67px;
	font-size: 12px;
	font-family: Arial;
	color: #8a7f8d;
}

#contactme div {
	border-radius: 6px;
}

#email {
	display: inline-block;
	width: 340px;
	height: 80px;
	border: 1px solid gray;
	border-radius: 0;
	text-align: left;
	padding-left: 10px;
	margin-left: 10px;
}

#facebook {
	display: inline-block;
	width: 340px;
	height: 80px;
	border: 1px solid gray;
	border-radius: 0;
	text-align: left;
	padding-left: 10px;
	margin-left: 10px;
}

#twitter {
	display: inline-block;
	width: 340px;
	height: 80px;
	border: 1px solid gray;
	border-radius: 0;
	text-align: left;
	padding-left: 10px;
	margin-left: 10px;
}


#footer {
	position: absolute;
	bottom: -300px;
	width: 100%;
	height: 30px;
	background-color: gray;
	border: solid 3px black;
	font-weight: bold;
	color: white;
	padding-bottom: 15px;
	text-align: center;
}
