h1 {
    text-align : center;
    font-family : arial;
    font-weight : bold;
    color: blue;
}

h2 {
    text-align : center;
    font-weight : arial;
}

img {
    width : 150px;
    height : 150px;
    text-align : center;
}

p {
    font-family : arial;
    font-color : blue;
    text-align : center;
}

#image {
    text-align: center;
}